.books__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);
  height: 30rem;
  max-height: 50%;
}

.books__section h1 {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 2.5rem;
}

.books__section p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.icons {
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) {
  .books__section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .section__sub {
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .books__section h1 {
    margin-bottom: 0;
  }

  .books__section p {
    width: 60%;
  }
}
