.books {
  color: var(--primary-color);
}

.books__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.books h1 {
  font-size: 2rem;
  font-weight: normal;
}

.books__search {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-color);
  height: 3rem;
  gap: 1rem;
  border-radius: 0.5rem;
  padding-inline: 1rem;
}

.search__input {
  border: none;
  font-size: 1rem;
}

.search__input:focus {
  outline: none;
  color: var(--primary-color);
}

.book__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5rem;
  gap: 1rem;
}

.book__link {
  text-decoration: none;
  color: var(--primary-color);
  width: 180px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.pagination button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  .book__link {
    width: 200px;
  }

  .book__section {
    margin: 0;
  }
}
