.books {
  color: var(--primary-color);
}

.books h1 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.book__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5rem;
  gap: 1rem;
}

.book__link {
  text-decoration: none;
  color: var(--primary-color);
  width: 180px;
}

@media (min-width: 768px) {
  .book__link {
    width: 200px;
  }
}
