.book {
  margin-bottom: 2rem;
}

.book img {
  margin-bottom: 1rem;
  width: 180px;
  height: 280px;
  object-fit: fill;
  transition: transform 0.3s ease;
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.book img:hover {
  transform: scale(1.05);
}

.book h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.book p {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .book img {
    width: 200px;
    height: 300px;
  }
}
